*{
    box-sizing: border-box;
}
body{
    font-family: 'Roboto',sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    color: rgb(207, 40, 40);
}
div{
    font-size: 50px;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');